.footer_container{
    background: #161b22;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem 5px 1rem 5px;
    width: 100vw;
    /* overflow-y: scroll; */
    /* height: 10vh; */
    clear: both;
    /* position: absolute; */
    height: 20vh;
    /* margin-top: -100px; */
    /* bottom: 0px; */
    z-index: 100;
}

.social_media{
    width: 100%;
    max-width: 250px;
}

.social_icons{
    display: flex;
    justify-content: space-around;
}

.social_media_icon{
    font-size: 25px;
    margin: 10px;
    color: whitesmoke;
}

.instagram:hover{
    cursor: pointer;
    color:magenta;
}

.facebook:hover{
    cursor: pointer;
    color:mediumblue;
}

.twitter:hover{
    cursor: pointer;
    color:mediumturquoise;
}
